.parallax-image {
  position: fixed;
  z-index: -1;
  width: 100%;
  /* Set height until end of content */
  height: 200%;
  border-radius: 10px;
  object-fit: fill;
  background-repeat: repeat-y;
  background-position: center top;
  /* cut off the bottom of the image */
  overflow: hidden;
}