/* Let's create a header, three unequal columns and a footer*/
/* Font */
@font-face {
    font-family: 'CustomFont';
    src: url('./fonts/NotoSans-Regular.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('./fonts/NotoSans-Regular.ttf') format('woff2'),             /* Super Modern Browsers */
         url('./fonts/NotoSans-Regular.ttf') format('woff'),              /* Pretty Modern Browsers */
         url('./fonts/NotoSans-Regular.ttf') format('truetype'),          /* Safari, Android, iOS */
         url('./fonts/NotoSans-Regular.ttf') format('svg');               /* Legacy iOS */
}
/* Set the background image and initial positioning */
body {
    background-image: url('/Content/key_ig.png'); /* Replace 'your-image.jpg' with your image file path */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(0.5px);
    background-size: cover;
  }
/* Header */
/* Header */
.header {
  background-color: #F1F1F1;
  padding: 20px;
  text-align: center;
  border-radius: 10px; /* Add rounded borders */
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #1f2929;
  border-radius: 10px; /* Add rounded borders */
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #8dcea5;
  text-align: center;
  padding: 14px 16px;
  font-family: 'CustomFont', sans-serif;
  text-decoration: none;
  border-radius: 5px; /* Add rounded borders */
  transition: background-color 0.3s, color 0.3s; /* Add smooth transition */
}

/* Change color and background on hover */
.topnav a:hover {
  background-color: #8dcea5;
  color: #1f2929;
}

/* Wrap the content of the page */
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Create three unequal columns that float next to each other */
.row {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

/* Left column */
.leftcolumn {
  position: relative; /* Add position relative */
  float: left;
  color: #93c2c2;
  font-family: 'CustomFont', sans-serif;
  width: 20%;
  padding: 10px;
  border-radius: 10px; /* Add rounded borders */
  margin-right: 10px; /* Add spacing between columns */
  background-color: transparent; /* Set a transparent background */
}

/*Blurrer*/
.blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px); /* Strong blur effect */
  z-index: -1; /* Place it behind the content */
}



/* Right column */
.rightcolumn {
  float: right;
  width: 75%;
  color: #8dcea5;
  font-family: 'CustomFont', sans-serif;
  background-color: #1f2929;
  padding-left: 20px;
  border-radius: 10px; /* Add rounded borders */
}

/* Card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px; /* Add rounded borders */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  color: #8dcea5;
  background: #1f2929;
  margin-top: 20px;
  border-radius: 10px; /* Add rounded borders */
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
    margin-right: 0; /* Remove spacing between columns */
    border-radius: 0; /* Remove rounded borders */
  }
}

/*Last.fm style*/
#now-playing {
    display: flex;
    font-family: 'CustomFont', sans-serif;
    align-items: center;
    justify-content: center;
  }

  #song-artwork {
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    margin-right: 10px;
  }

  #song-details {
    text-align: left;
    font-family: 'CustomFont', sans-serif;
  }

  #song-info {
    font-weight: bold;
    margin: 0;
  }

  /* Github style */
  /* Add this CSS to your existing styles */
.repository {
  background-color: #162424;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.repository h3 {
  font-size: 1.2rem;
}

.repository a {
  color: #93c2c2;
  text-decoration: none;
}

.repository a:hover {
  text-decoration: underline;
}
