/* Style the top navigation bar */
.topnav {
    position:fixed;
    top: 5px;
    left: 0;
    width: 100%;
    z-index: 99;
    overflow: hidden;
    background-color: #1f2929;
    border-radius: 10px; /* Add rounded borders */
    text-align: center;
  }
  
  /* Style the topnav links */
  .topnav a {
    display: inline-block;
    color: #8dcea5;
    text-align: center;
    padding: 14px 16px;
    font-family: 'CustomFont', sans-serif;
    text-decoration: none;
    border-radius: 5px; /* Add rounded borders */
    transition: background-color 0.3s, color 0.3s; /* Add smooth transition */
  }
  
  /* Change color and background on hover */
  .topnav a:hover {
    background-color: #8dcea5;
    color: #1f2929;
  }